$background-color: rgba(245, 245, 245, 1);
$text-color: rgba(128, 128, 128, 1);
$open-color: rgba(47, 192, 34, 1);
$closed-color: red;

:host {
  background-color: $background-color;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "open"
    "separator"
    "closed"
    "images";
  grid-template-rows: 200px auto 200px 200px; 
  gap: 10px;

  div > h2,
  h3 {
    font-weight: 900;
  }

  div > div {
    color: $text-color;
  }
}

.separator {
  grid-area: separator;
  height: 5px; 
  border-top: 2px solid #e5e7eb;
}

.open {
  color: $open-color;
  font-weight: 900;
  grid-area: open;
  align-self: center; 
}

.closed {
  color: $closed-color;
  font-weight: 900;
  grid-area: closed;
  align-self: center; 
}

.images {
  display: flex;
  gap: 10px;
  align-items: center;
  grid-area: images;
  align-self: center; 

  img {
    width: 50%;
    max-width: 125px;
    height: fit-content;
  }
}