:host {
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
  padding: 20px;
  @media (max-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
  .protection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .legend {
      display: inherit;
      gap: 10px;
      .image {
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        img {
          width: 64px;
          height: fit-content;
        }
      }
    }
  }
}
