<div class="protection">
  <h2>Máscara</h2>
  <div class="legend">
    <div class="image">
      <img src="/required-mask.png" alt="Mascara Obrigatoria" title="Máscara Obrigatória" />
      <p>Obrigatório</p>
    </div>
    <div class="image">
      <img src="/recommended-mask.png" alt="Mascara Recomendada" title="Máscara Recomendada" />
      <p>Recomendado</p>
    </div>
  </div>
</div>
<div class="protection">
  <h2>Toalha</h2>
  <div class="legend">
    <div class="image">
      <img src="/required-towel.png" alt="Toalha Obrigatoria" title="Toalha Obrigatória" />
      <p>Obrigatório</p>
    </div>
    <div class="image">
      <img src="/recommended-towel.png" alt="Toalha Recomendada" title="Toalha Recomendada" />
      <p>Recomendado</p>
    </div>
  </div>
</div>
<div class="protection">
  <h2>Bebedouro</h2>
  <div class="legend">
    <div class="image">
      <img src="/partial-water.png" alt="Bebedouro Parcial" title="Bebedouro Parcial" />
      <p>Parcial</p>
    </div>
    <div class="image">
      <img src="/not-allowed-water.png" alt="Bebedouro Proibido" title="Bebedouro Fechado" />
      <p>Proibido</p>
    </div>
  </div>
</div>
<div class="protection">
  <h2>Vestiários</h2>
  <div class="legend">
    <div class="image">
      <img src="/allowed-lockerroom.png" alt="Chuveiro Permitido" title="Vestuário Permitido" />
      <p>Liberado</p>
    </div>
    <div class="image">
      <img src="/partial-lockerroom.png" alt="Chuveiro Parcial" title="Vestuário Parcial" />
      <p>Parcial</p>
    </div>
    <div class="image">
      <img src="/closed-lockerroom.png" alt="Chuveiro Proibido" title="Vestuário Fechado" />
      <p>Fechado</p>
    </div>
  </div>
</div>