:host {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px auto;
  .gym-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}